[submodule "harness/pi-onlyne"]
	path = harness/pi-onlyne
	url = git@github.com:dbydd/pi-onlyne.git
[submodule "harness/dsh-onlyne"]
	path = harness/dsh-onlyne
	url = git@github.com:dbydd/dsh-onlyne.git
[submodule "harness/onlyne-swarm"]
	path = harness/onlyne-swarm
	url = git@github.com:dbydd/onlyne-swarm.git
